* { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.container-fluid {
    max-width:1200px;
}

header, header *, h1, h2, h3, .pagination div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

header {
    color:white;
    background-color:#aaa;
    text-align:center;
    padding:5%
}

header a, header a:hover { 
    color: inherit; 
    font-size:3em;
}

header small {
    font-size:0.5em;
    opacity:0.8;
    vertical-align:middle;
}

header small:hover {
    opacity:1;
    cursor:pointer;
}

.posts {
    margin-top:5%;
}

.post {
    padding:5%;
    background-color:#aaa;
    margin-bottom:5%;
}

.posts .post {
    color: White;
    display:block;
    transition:background-color 0.5s;
}

.posts .post:hover, .pagination div:hover {
    background-color:#555;
}

.posts .post h1 {
    padding-top: 30%;
}

.pagination {
    color:White; 
    text-align:center;
    margin: 0;
}

.pagination div {
    transition:background-color 0.5s;
    background-color:#aaa;
    padding:15px 0;
}

.post-body {
    margin-bottom:5%;
}

.post-body > * {
    margin-left:5%;
    margin-right:5%;
}

.post-body img {
    max-width:100%;
    margin-bottom:1rem;
}

.negate-margin {
    margin-left:0;
    margin-right:0;
}